<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AWESOME APP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container">

    <h1 align="center">Basic to file</h1>

    <form action="/" method="post" role="form">

        <div class="form-group" align="center">

            <label for="file">File:</label><br>
            <input type="file" class="form-control" id="file" name="file"><br>

        </div>
        <div align="center">
        <button type="submit" class="btn btn-success">Submit</button>
        </div>
        <p></p><br>

    </form>

</div>

</body>
</html>

